.entreEmContato {
    //background-color: #121212;
    background-color: #101720;
    display: flex;
    align-items: center;
    justify-content: center;
    //border: solid red;
    padding-top: 2%;
    h1 {
        color: white;
        font-size: 32px;
        letter-spacing: 3px;
    }
    div {
        display: flex;
        justify-content: space-evenly;
        width: 15%;
    }
    img {
        cursor: pointer;
    }
}

.whatsappSection {
    min-height: 71vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    //background-color: #121212;
    background-color: #101720;
    color: #FFF;
    padding: 14px;

    h2 {
        margin-bottom: 2%;
        font-size: 32px;
        letter-spacing: 3px;
    }

    button {
        margin-top: 2%;
    }
}



.container {
    min-height: 71vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    //background-color: #121212;
    background-color: #101720;
    color: #FFF;
    padding: 14px;
    font-size: 32px;
    letter-spacing: 3px;
}

.title {
    margin-bottom: 2%;
}

.form {
    max-width: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.input {
    margin-bottom: 14px;
    height: 34px;
    border-radius: 4px;
    border: 0;
    padding: 0 8px;
}

.textarea {
    margin-bottom: 14px;
    border-radius: 4px;
    border: 0;
    padding: 8px;
    height: 94px;
    resize: none;
}

.button {
    height: 34px;
    border-radius: 4px;
    border: 0;
    cursor: pointer;
    background-color: #0fdbff;
    font-size: 18px;
    transition: background-color, transform 0.8s;
}

.button:hover {
    background-color: #0fe3ff;
    transform: scale(1.01);
}