.header {
    background: linear-gradient(to right, #011222, #020d19);
    border-bottom: solid #12577b;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    a {
        color: rgb(255, 255, 255);
        text-decoration: none;
        letter-spacing: 2px;
    }
}

.nomePortfolio {
    cursor: pointer;
    font-size: 40px;
}

.sectionHeader {
    
    nav {
        width: 30vw;
        font-size: 32px;
        ul {
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
        }
        a::before {
            margin-left: auto;
        }
        a::after, a::before {
            content: '';
            width: 0%;
            height: 2px;
            background: #f44336;
            display: block;
            transition: 0.5s;
        }
        a:hover::after, a:hover::before {
            width: 100%;
        }
    }
}



