.sobreSection {
    background-color: #101720;
    //background-color: #011222; ////az esc
    //background-color: #171717;
    //background-color: #020d19; //
    //background-color: #0b1215;
    //background: linear-gradient(to bottom, #191bdf, #1a1a1a);
    height: 85vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    //border: solid green;
    

    h1 {
        color: white;
        font-size: 40px;
        //border: solid red;
        letter-spacing: 5px;
    }

    p {
        //border: solid;
        width: 40%;
        text-align: justify;
        font-size: 25px;
        letter-spacing: 2px;
    }
}

.menuMinhasRedes {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 20vh;
    width: 30%;
    //border: solid rgb(0, 13, 255);
    

    a {
        text-decoration: none;
    }
}

.checkboxContainer input {
    display: none;
}

.checkboxContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    color: #030000;
    user-select: none;
    border: solid;
    height: 50px;
    width: 150px;
    border-radius: 25px;

    --main-focus: #2d8cf0;
    --font-color: #323232;
    --bg-color-sub: #dedede;
    --bg-color: #eee;
    --main-color: #323232;
    position: relative;
    width: 150px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
    background-color: var(--bg-color);
    border-radius: 10px;
    overflow: hidden;
    
}



.minhasRedesLogos {
    //border: solid red;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-around;

    img:hover {
        scale: 1.5;
    }
}

.button {
    --main-focus: #2d8cf0;
    --font-color: #323232;
    --bg-color-sub: #dedede;
    --bg-color: #eee;
    --main-color: #323232;
    position: relative;
    width: 150px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
    background-color: var(--bg-color);
    border-radius: 10px;
    overflow: hidden;
    font-size: 15px;
}
.button, .buttonIcon, .buttonText {
    transition: all 0.3s;
}
.button .buttonText {
    transform: translateX(22px);
    color: var(--font-color);
    font-weight: 600;
}
.button .buttonIcon {
    position: absolute;
    transform: translateX(109px);
    height: 100%;
    width: 39px;
    background-color: var(--bg-color-sub);
    display: flex;
    align-items: center;
    justify-content: center;
}
.button .downloadIcon {
    width: 20px;
    fill: var(--main-color);
}
.button:hover {
    background: var(--bg-color);
}
.button:hover .buttonText {
    color: transparent;
}
.button:hover .buttonIcon {
    width: 148px;
    transform: translateX(0);
}
.button:active {
    transform: translate(3px, 3px);
    box-shadow: 0px 0px var(--main-color);
}