.footer {
    height: 9vh;
    //background: linear-gradient(to left, #191bdf, #1a1a1a);
    //background: linear-gradient(to left, #12577b, #a9cfe5);
    background-color: #101720;  
    border-top: solid #12577b;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-size: 17px;
    letter-spacing: 2px;

    a {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 5px;
    }
    img {
        width: 30px;
        height: 30px;
    }
    img:hover {
        scale: (1.2);
    }
}
